@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container">
    <H3>Your Current Score is: </H3>
    <div class="btn-group">
        <button class="btn btn-success" onClick="window.location='/testing'">Testing Knowledge</button>
        <button class="btn btn-success" onClick="window.location='/learning'">Learning Knowledge</button>
        <button class="btn btn-primary" onClick="window.location='/logout'">Logout</button>
    </div>
</div>