@using API.Extensions
@{
    var userInfo = User.Identity;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Civic Exam Portal</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <script src="/js/jquery.min.js"></script>
        
        @* bootstrap *@
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" href="/style/layout.css">
    </head>
<body>
  
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="~/">Civic Exam Portal</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="@(ViewContext.RouteData.Matches("Home") ? "active" : "")">
                    <a href="/">Home</a>
                </li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                @if (userInfo != null)
                {
                    <li><a href="~/Identity/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li><a href="~/Identity/register"><span class="glyphicon glyphicon-pencil"></span> Register</a></li>
                }
                else
                {
                    <li><a href="~/Identity/LogoutAction"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                }
            </ul>
            
        </div>
    </div>
</nav>

<div class="container" ng-app="tourApp" ng-cloak>
    @RenderBody()
</div>

<div class="clearfix">
    <br />
</div>
<br />
<br />

</body>
</html>